<div class="theme-page-section theme-page-section-xl theme-page-section-gray">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <div class="theme-login">
            <div class="theme-login-header">
              <h1 class="theme-login-title">Change Password</h1>
              <p class="theme-login-subtitle">Change Password Of CarryCog account</p>
            </div>
            <div class="theme-login-box">
              <div class="theme-login-box-inner">
                
                <form [formGroup]="service.changePasswordModel" autocomplete="off" (submit)="onSubmit()">
                    <div class="form-group theme-login-form-group required">
                        <input class="form-control" type="password" placeholder="Old Password" formControlName="OldPassword" autocomplete="false" /> 
                        <label class="text-danger" *ngIf="service.changePasswordModel.get('OldPassword').touched && service.changePasswordModel.get('OldPassword').errors?.required">This field is mandatory.</label>
                        <label class="text-danger" *ngIf="service.changePasswordModel.get('OldPassword').touched && service.changePasswordModel.get('OldPassword').errors?.minlength">Minimum 4 characters required.</label>
                      </div>
                    <div formGroupName="Passwords">
                      <div class="form-group theme-login-form-group required">
                        <input class="form-control" type="password" placeholder="Password" formControlName="Password" autocomplete="false" /> 
                        <label class="text-danger" *ngIf="service.changePasswordModel.get('Passwords.Password').touched && service.changePasswordModel.get('Passwords.Password').errors?.required">This field is mandatory.</label>
                        <label class="text-danger" *ngIf="service.changePasswordModel.get('Passwords.Password').touched && service.changePasswordModel.get('Passwords.Password').errors?.minlength">Minimum 4 characters required.</label>
                      </div>
                      <div class="form-group theme-login-form-group required">
                        <input class="form-control" type="password" placeholder="Confirm Password" formControlName="ConfirmPassword" autocomplete="false" /> 
                        <label class="text-danger" *ngIf="service.changePasswordModel.get('Passwords.ConfirmPassword').touched && service.changePasswordModel.get('Passwords.ConfirmPassword').errors?.required">This field is mandatory.</label>
                        <label class="text-danger" *ngIf="service.changePasswordModel.get('Passwords.ConfirmPassword').touched && service.changePasswordModel.get('Passwords.ConfirmPassword').errors?.passwordMismatch">Confirm Password does not match.</label>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-uc btn-dark btn-block btn-lg" [disabled]="!service.changePasswordModel.valid">Change Password</button>
                    <br>
                   </form>
                  

              </div>
            </div>
            <p class="theme-login-terms">By signing up you accept our
              <a href="#">terms of use</a>
              <br/>and
              <a href="#">privacy policy</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>