<nav class="navbar navbar-default navbar-inverse navbar-theme" id="main-nav">
    <div class="container">
        <div class="navbar-inner nav">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" data-target="#navbar-main" data-toggle="collapse" type="button" area-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" routerLink="">
                    <img src="./assets/img/logo.png" alt="Image Alternative text" title="Image Title" />
                </a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <div *ngIf="token; then thenBlock else elseBlock"></div>
                    <ng-template #thenBlock>
                  <li class="active dropdown">
                      <a class="dropdown-toggle" routerLink='/Home' role="button" aria-haspopup="true" aria-expanded="false">Home</a>
                  </li>
                </ng-template>
                <ng-template #elseBlock>
                    <li class="active dropdown">
                        <a class="dropdown-toggle" routerLink="/Home" role="button" aria-haspopup="true" aria-expanded="false">Home</a>
                    </li>
                </ng-template>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" routerLink="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="_desk-h">Language</span>
                            <img class="navbar-flag" src="./assets/img/flags/United Arab Emirates.png" alt="United Arab Emirates" title="United Arab Emirates" />
                        </a>
                        <div class="dropdown-menu dropdown-menu-xxl">
                            <h5 class="dropdown-meganav-select-list-title">Languages</h5>
                            <div class="row" data-gutter="10">
                                <div class="col-md-3">
                                    <ul class="dropdown-meganav-select-list-lang">
                                        <li>
                                            <a routerLink="#">
                                                <img src="./assets/img/flag_codes/United Arab Emirates.png" alt="Image Alternative text" title="Image Title" />United Arab Emirate(UAE)
                                            </a>
                                        </li>
                                        <li>
                                            <a routerLink="#">
                                                <img src="./assets/img/flag_codes/Pakistan.png" alt="Image Alternative text" title="Image Title" />Pakistan(PAK)
                                            </a>
                                        </li>
                                        <li>
                                            <a routerLink="#">
                                                <img src="./assets/img/flag_codes/India.png" alt="Image Alternative text" title="Image Title" />India(IND)
                                            </a>
                                        </li>
                                        <li>
                                            <a routerLink="#">
                                                <img src="./assets/img/flag_codes/UK.png" alt="Image Alternative text" title="Image Title" />English(UK)
                                            </a>
                                        </li>
                                        <li>
                                            <a routerLink="#">
                                                <img src="./assets/img/flag_codes/US.png" alt="Image Alternative text" title="Image Title" />English(US)
                                            </a>
                                        </li>
                                        <li>
                                            <a routerLink="#">
                                                <img src="./assets/img/flag_codes/DE.png" alt="Image Alternative text" title="Image Title" />Deutsch
                                            </a>
                                        </li>
                                        <li>
                                            <a routerLink="#">
                                                <img src="./assets/img/flag_codes/NED.png" alt="Image Alternative text" title="Image Title" />Nederlands
                                            </a>
                                        </li>
                                        <li>
                                            <a routerLink="#">
                                                <img src="./assets/img/flag_codes/FR.png" alt="Image Alternative text" title="Image Title" />Français
                                            </a>
                                        </li>
                                        <li>
                                            <a routerLink="#">
                                                <img src="./assets/img/flag_codes/SP.png" alt="Image Alternative text" title="Image Title" />Español
                                            </a>
                                        </li>
                                        <li>
                                            <a routerLink="#">
                                                <img src="./assets/img/flag_codes/ARG.png" alt="Image Alternative text" title="Image Title" />Español (AR)
                                            </a>
                                        </li>
                                        <li>
                                            <a routerLink="#">
                                                <img src="./assets/img/flag_codes/IT.png" alt="Image Alternative text" title="Image Title" />Italiano
                                            </a>
                                        </li>
                                        <li>
                                            <a routerLink="#">
                                                <img src="./assets/img/flag_codes/PT.png" alt="Image Alternative text" title="Image Title" />Português (PT)
                                            </a>
                                        </li>
                                        <li>
                                            <a routerLink="#">
                                                <img src="./assets/img/flag_codes/BR.png" alt="Image Alternative text" title="Image Title" />Português (BR)
                                            </a>
                                        </li>
                                        <li>
                                            <a routerLink="#">
                                                <img src="./assets/img/flag_codes/NR.png" alt="Image Alternative text" title="Image Title" />Norsk
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-3">
                                    <ul class="dropdown-meganav-select-list-lang">
                                        <li>
                                            <a routerLink="#">
                                                <img src="./assets/img/flag_codes/FIN.png" alt="Image Alternative text" title="Image Title" />Suomi
                                            </a>
                                        </li>
                                        <li>
                                            <a routerLink="#">
                                                <img src="./assets/img/flag_codes/SW.png" alt="Image Alternative text" title="Image Title" />Svenska
                                            </a>
                                        </li>
                                        <li>
                                            <a routerLink="#">
                                                <img src="./assets/img/flag_codes/DEN.png" alt="Image Alternative text" title="Image Title" />Dansk
                                            </a>
                                        </li>
                                        <li>
                                            <a routerLink="#">
                                                <img src="./assets/img/flag_codes/CZ.png" alt="Image Alternative text" title="Image Title" />Čeština
                                            </a>
                                        </li>
                                        <li>
                                            <a routerLink="#">
                                                <img src="./assets/img/flag_codes/HUN.png" alt="Image Alternative text" title="Image Title" />Magyar
                                            </a>
                                        </li>
                                        <li>
                                            <a routerLink="#">
                                                <img src="./assets/img/flag_codes/ROM.png" alt="Image Alternative text" title="Image Title" />Română
                                            </a>
                                        </li>
                                        <li>
                                            <a routerLink="#">
                                                <img src="./assets/img/flag_codes/JP.png" alt="Image Alternative text" title="Image Title" />日本語
                                            </a>
                                        </li>
                                        <li>
                                            <a routerLink="#">
                                                <img src="./assets/img/flag_codes/CN.png" alt="Image Alternative text" title="Image Title" />简体中文
                                            </a>
                                        </li>
                                        <li>
                                            <a routerLink="#">
                                                <img src="./assets/img/flag_codes/PL.png" alt="Image Alternative text" title="Image Title" />Polski
                                            </a>
                                        </li>
                                        <li>
                                            <a routerLink="#">
                                                <img src="./assets/img/flag_codes/GR.png" alt="Image Alternative text" title="Image Title" />Ελληνικά
                                            </a>
                                        </li>
                                        <li>
                                            <a routerLink="#">
                                                <img src="./assets/img/flag_codes/RU.png" alt="Image Alternative text" title="Image Title" />Русский
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-3">
                                    <ul class="dropdown-meganav-select-list-lang">
                                        <li>
                                            <a routerLink="#">
                                                <img src="./assets/img/flag_codes/TUR.png" alt="Image Alternative text" title="Image Title" />Türkçe
                                            </a>
                                        </li>
                                        <li>
                                            <a routerLink="#">
                                                <img src="./assets/img/flag_codes/BUL.png" alt="Image Alternative text" title="Image Title" />Български
                                            </a>
                                        </li>
                                        <li>
                                            <a routerLink="#">
                                                <img src="./assets/img/flag_codes/ARB.png" alt="Image Alternative text" title="Image Title" />العربية
                                            </a>
                                        </li>
                                        <li>
                                            <a routerLink="#">
                                                <img src="./assets/img/flag_codes/KOR.png" alt="Image Alternative text" title="Image Title" />한국어
                                            </a>
                                        </li>
                                        <li>
                                            <a routerLink="#">
                                                <img src="./assets/img/flag_codes/ISR.png" alt="Image Alternative text" title="Image Title" />עברית
                                            </a>
                                        </li>
                                        <li>
                                            <a routerLink="#">
                                                <img src="./assets/img/flag_codes/LAT.png" alt="Image Alternative text" title="Image Title" />Latviski
                                            </a>
                                        </li>
                                        <li>
                                            <a routerLink="#">
                                                <img src="./assets/img/flag_codes/UKR.png" alt="Image Alternative text" title="Image Title" />Українська
                                            </a>
                                        </li>
                                        <li>
                                            <a routerLink="#">
                                                <img src="./assets/img/flag_codes/IND.png" alt="Image Alternative text" title="Image Title" />Bahasa Indonesia
                                            </a>
                                        </li>
                                        <li>
                                            <a routerLink="#">
                                                <img src="./assets/img/flag_codes/MAL.png" alt="Image Alternative text" title="Image Title" />Bahasa Malaysia
                                            </a>
                                        </li>
                                        <li>
                                            <a routerLink="#">
                                                <img src="./assets/img/flag_codes/TAI.png" alt="Image Alternative text" title="Image Title" />ภาษาไทย
                                            </a>
                                        </li>
                                        <li>
                                            <a routerLink="#">
                                                <img src="./assets/img/flag_codes/EST.png" alt="Image Alternative text" title="Image Title" />Eesti
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-3">
                                    <ul class="dropdown-meganav-select-list-lang">
                                        <li>
                                            <a routerLink="#">
                                                <img src="./assets/img/flag_codes/CRO.png" alt="Image Alternative text" title="Image Title" />Hrvatski
                                            </a>
                                        </li>
                                        <li>
                                            <a routerLink="#">
                                                <img src="./assets/img/flag_codes/LIT.png" alt="Image Alternative text" title="Image Title" />Lietuvių
                                            </a>
                                        </li>
                                        <li>
                                            <a routerLink="#">
                                                <img src="./assets/img/flag_codes/SLO.png" alt="Image Alternative text" title="Image Title" />Slovenčina
                                            </a>
                                        </li>
                                        <li>
                                            <a routerLink="#">
                                                <img src="./assets/img/flag_codes/SERB.png" alt="Image Alternative text" title="Image Title" />Srpski
                                            </a>
                                        </li>
                                        <li>
                                            <a routerLink="#">
                                                <img src="./assets/img/flag_codes/SLOVE.png" alt="Image Alternative text" title="Image Title" />Slovenščina
                                            </a>
                                        </li>
                                        <li>
                                            <a routerLink="#">
                                                <img src="./assets/img/flag_codes/NAM.png" alt="Image Alternative text" title="Image Title" />Tiếng Việt
                                            </a>
                                        </li>
                                        <li>
                                            <a routerLink="#">
                                                <img src="./assets/img/flag_codes/PHI.png" alt="Image Alternative text" title="Image Title" />Filipino
                                            </a>
                                        </li>
                                        <li>
                                            <a routerLink="#">
                                                <img src="./assets/img/flag_codes/ICE.png" alt="Image Alternative text" title="Image Title" />Íslenska
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    
                    <li class="navbar-nav-item-user dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user-circle-o navbar-nav-item-user-icon"></i>Profile
                        </a>
                        <ul class="dropdown-menu">
                            <div *ngIf="token; then logOutBlock else LoginBlock"></div>
                                
                            <ng-template #logOutBlock class="dropdown-menu">
                                <li>
                                    <a routerLink="/createpost">Create Post</a>
                                </li>
                                <li>
                                    <a routerLink="/myposts">My Posts</a>
                                </li>
                                <li>
                                    <a routerLink="/changepassword">Change Password</a>
                                </li>
                                <li>
                                    <a (click)="onLogout()">Logout</a>
                                </li>
                        </ng-template>
                        <ng-template #LoginBlock class="dropdown-menu">
                            <li>
                                <a routerLink="/login" >Login</a>
                            </li>
                            <li>
                                <a routerLink="/registration" >Register</a>
                            </li>
                        </ng-template>
                    </ul>
                    
                        
                    </li>
                </ul>
            </div>
        </div>
    </div>
  </nav> 