
    <header class="navbar navbar-dark bg-dark navbar-fixed-top navbar-expand-lg navbar-theme">
    <div class="container">
      
      <a class="navbar-brand" style="padding-top: 1.5rem;" [routerLink]="['/']" (click)="navbarCollapsed = true">
        <img src="./assets/img/logo.png" alt="Image Alternative text" title="Image Title" />
       </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" (click)="navbarCollapsed = !navbarCollapsed"
              [attr.aria-expanded]="!navbarCollapsed" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" [ngbCollapse]="navbarCollapsed" id="navbarContent">
       
  
        <ul class="navbar-nav mr-auto">
            <div *ngIf="token; then thenBlock else elseBlock"></div>
            <ng-template #thenBlock>
          <li class="active">
              <a class="nav-link" routerLink='/Home' (click)="navbarCollapsed = true">Home</a>
          </li>
        </ng-template>
        <ng-template #elseBlock>
            <li class="active">
                <a class="nav-link" routerLink="/Home"  (click)="navbarCollapsed = true">Home</a>
            </li>
        </ng-template>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" [attr.aria-expanded]="!navbarDropDown" 
            role="button" (click)="navbarDropDown = !navbarDropDown"  aria-controls="navbarDropdownList"
            data-toggle="dropdown" >
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownList">
              <a class="dropdown-item" (click)="navbarCollapsed = true">Action</a>
              <a class="dropdown-item" (click)="navbarCollapsed = true">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" (click)="navbarCollapsed = true">Something else here</a>
            </div>
          </li>
        </ul>
        <span class="github-buttons d-none d-lg-inline">
            <ul>
       
                <li class="navbar-nav-item-user dropdown">

                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color:white;">
                        <i class="fa fa-user-circle-o navbar-nav-item-user-icon"></i>
                        <div *ngIf="!this.userName;then profile else welcomeMsg"></div>    
                            <ng-template #profile>Profile</ng-template>
                            <ng-template #welcomeMsg>Welcome! {{userName}}</ng-template>
                    </a>
                    <ul class="dropdown-menu">
                        <div *ngIf="token; then logOutBlock else LoginBlock"></div>
                            
                        <ng-template #logOutBlock>
                            <li>
                                <a routerLink="/createpost">Create Post</a>
                            </li>
                            <li>
                                <a routerLink="/myposts">My Posts</a>
                            </li>
                            <li>
                                <a routerLink="/changepassword">Change Password</a>
                            </li>
                            <li>
                                <a (click)="onLogout()">Logout</a>
                            </li>
                    </ng-template>
                    <ng-template #LoginBlock>
                        <li>
                            <a routerLink="/login" >Login</a>
                        </li>
                        <li>
                            <a routerLink="/registration" >Register</a>
                        </li>
                    </ng-template>
                </ul>
                
                    
                </li>
              </ul>
        </span>
      </div>
    </div>
    </header>
