<div class="theme-page-section theme-page-section-xl theme-page-section-gray">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <div class="theme-login">
            <div class="theme-login-header">
              <h1 class="theme-login-title">Verify Email</h1>
              <p class="theme-login-subtitle">Verify your CarryCog Account Email</p>
            </div>
            <div class="theme-login-box">
              <div class="theme-login-box-inner">
                
                <form [formGroup]="service.emailModel" autocomplete="off" (submit)="onSubmit()">
                    <div class="form-group theme-login-form-group">
                        <input class="form-control" type="text" placeholder="Email Address" formControlName="Email" autocomplete="false" />
                        <label class="text-danger" *ngIf="service.emailModel.get('Email').touched && service.emailModel.get('Email').errors?.email">Invalid email address.</label>
                      </div>                
                    <button type="submit" class="btn btn-uc btn-dark btn-block btn-lg" [disabled]="!service.emailModel.valid">Change Password</button>
                    <br>
                   </form>
              </div>
            </div>
            <p class="theme-login-terms">By signing up you accept our
              <a href="#">terms of use</a>
              <br/>and
              <a href="#">privacy policy</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>